.albums {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 45%;
  width: 60rem;
  height: fit-content;
  margin-left: 12rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5rem black;
  padding-bottom: 0.5rem;
}

.empty-msg {
  font-size: 5rem;
  margin-left: 16rem;
  margin-top: 7rem;
}

.item-box {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.item-box img {
  margin-right: 0.7rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
}

.info div {
  display: flex;
  flex-direction: row;
}

.info div p:nth-child(1) {
  width: 12rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info div p:nth-child(2) {
  margin-left: 0.5rem;
}

.artists-names {
  margin-top: -1.5rem;
  font-size: 1.5rem;
  color: red;
}

.redirect {
  margin-left: 15rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.spotify-link,
.button-home {
  display: flex;
  flex-direction: row;
}

.spotify-link {
  margin-top: 0.3rem;
}

.spotify-link h4 {
  margin-top: 0;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.spotify-link i {
  color: #1ed760;
  font-size: 2rem;
  margin-top: -0.2rem;
}

.button-home button {
  background-color: red;
  color: white;
  height: 2.5rem;
  width: 6rem;
  border: none;
  border-radius: 5px;
  font-family: "Vina Sans", "sans-serif";
  font-size: 1rem;
  margin-right: 1rem;
}

.spotify-link i:hover,
.button-home button:hover {
  cursor: pointer;
}
