.item-box {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.item-box img {
  margin-right: 0.7rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.name {
  margin-top: 3rem;
  width: 28rem;
}

.item-box i {
  margin-top: 3rem;
  margin-left: 15rem;
}

.item-box i:hover {
  cursor: pointer;
}

.no-result {
  font-size: 5rem;
  margin-left: 16rem;
  margin-top: 7rem;
}

.id-item {
  visibility: hidden;
}
