.item-box-albums {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 0.5em;
}

.item-box-albums img {
  margin-right: 0.7rem;
  width: 5em;
  height: 5em;
  object-fit: cover;
}

.item-box-albums i {
  padding-right: 1em;
  padding-top: 0;
  margin-bottom: 1em;
  width: 0.05em;
}

.item-box-albums i:hover {
  cursor: pointer;
}

.artists-names {
  margin-top: -1.5rem;
  font-size: 1.5rem;
  color: red;
  width: 15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.info div {
  display: flex;
}

.info div p:first-child {
  width: 15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*artists*/
.item-box-artists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 0.5em;
}

.item-box-artists div {
  display: flex;
  align-items: center;
}

.item-box-artists p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-box-artists img {
  margin-right: 0.7rem;
  width: 5em;
  height: 5em;
  object-fit: cover;
}

.item-box-artists i {
  padding-right: 1em;
  padding-top: 0;
  width: 0.05em;
}

.item-box-artists i:hover {
  cursor: pointer;
}

@media (max-width: 550px) {
  .item-box-albums {
    font-size: 1.5rem;
  }
}
