#main-section {
  text-align: center;
}

#main-section section {
  margin: 0 15em;
  text-align: left;
}

@media (max-width: 1150px) {
  #main-section section {
    margin: 0em 9em;
  }
}

@media (max-width: 1000px) {
  #main-section section {
    margin: 0em 5em;
  }
}

.artists {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 5px 5rem black;
  padding: 0.5rem 0.5em;
  margin-bottom: 0.5em;
}

@media (max-width: 900px) {
  .artists {
    margin-bottom: 0em;
    border-radius: 0px;
  }

  #main-section section {
    margin: 0em 0em;
  }
}

.empty-msg {
  font-size: 5rem;
  margin-left: 16rem;
  margin-top: 7rem;
}

.item-box {
  padding-right: 0.5em;
}

.item-box,
.item-box div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.item-box img {
  margin-right: 0.7rem;
  width: 5em;
  height: 5em;
  object-fit: cover;
}

.item-box p {
  width: 5em;
  text-overflow: ellipsis;
  overflow-x: hidden;
  text-wrap: nowrap;
  margin-top: 3.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 15em;
  margin-top: 4rem;
}

.delete {
  background-color: red;
  color: white;
  font-family: "Vina Sans", "sans-serif";
  font-size: 1.5rem;
  height: 2.5rem;
  width: 6rem;
  border: none;
  border-radius: 2px;
  margin-top: 0em;
}

.delete:hover {
  cursor: pointer;
}

.show-albums {
  display: flex;
  margin-right: 1rem;
}

.show-albums i {
  margin-left: -0.5rem;
  margin-top: -1rem;
}

.show-albums h4 {
  margin-top: 0;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.buttons div:last-child {
  text-align: center;
}

.spotify-link {
  color: #1ed760;
  font-size: 2rem;
  padding: 0;
}

.spotify-link:hover,
.show-albums i:hover {
  cursor: pointer;
}

.albums {
  margin: 0em 6.7em;
}

.album {
  display: flex;
  justify-content: space-between;
}

.album div {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.album img {
  width: 8rem;
  height: 8rem;
}

.album p {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.no-albums button,
.button-home button {
  background-color: red;
  color: white;
  height: 2.5rem;
  width: 6rem;
  border: none;
  border-radius: 5px;
  font-family: "Vina Sans", "sans-serif";
  font-size: 1rem;
  margin-right: 1rem;
  margin-top: 2.5rem;
}

.no-albums button:hover,
.button-home button:hover {
  cursor: pointer;
}

.no-albums {
  margin-left: 0rem;
}

.no-albums h1 {
  font-size: 2rem;
}

.no-albums button {
  margin-top: 0;
  margin-left: 2rem;
}

@media (max-width: 800px) {
  .item-box img {
    width: 4em;
    height: 4em;
  }

  .item-box p {
    margin-top: 1.7em;
    font-size: 1.7rem;
  }

  .buttons {
    margin-top: 1.5em;
  }

  .albums {
    margin: 0em 3em;
  }

  .album img {
    width: 7rem;
    height: 7rem;
  }
}

@media (max-width: 600px) {
  .item-box img {
    width: 3em;
    height: 3em;
  }

  .item-box p {
    margin-top: 1.7em;
    font-size: 1.3rem;
  }

  .buttons {
    margin-top: 1em;
    justify-content: unset;
  }

  .show-albums h4 {
    font-size: 1.3rem;
  }

  .show-albums i {
    margin-top: -0.4em;
    font-size: 1.5rem;
  }

  .delete {
    height: 2em;
    width: 4em;
    font-size: 1.2rem;
    margin-left: -0.6em;
  }

  .albums {
    margin: 0em 3em;
  }

  .album img {
    width: 5rem;
    height: 5rem;
  }

  .button-home button {
    height: 2em;
    margin-top: -0.8em;
  }
}
