#albums-carrousel {
  display: flex;
  flex-direction: row;
  height: 20rem;
  width: 50rem;
  margin-top: 5rem;
  margin-left: 17rem;
  overflow: hidden;
  padding-top: 0.5rem;
}

#albums-carrousel .album-item {
  margin-left: 1rem;
}

.title-display {
  display: block;
  color: red;
  font-size: 2rem;
  margin-left: 0.3rem;
}

#albums-carrousel img {
  transform: translateY(0px);
  transition: 1s;
}

#albums-carrousel img:hover {
  cursor: pointer;
  transform: translateY(-7px);
  transition: 1s;
}

.hidden,
.hidden-title {
  display: none;
  transition: 1s;
}

.focused-album img {
  height: 15rem;
  width: 15rem;
  display: block;
  box-shadow: 5px 4px 1rem red;
  transition: 1s;
}

.next-album img {
  height: 9rem;
  width: 9rem;
  display: block;
  transition: 1s;
}

.last-album img {
  height: 5rem;
  width: 5rem;
  display: block;
  transition: 1s;
}
