.tracks {
  background-color: rgb(255, 255, 255);
  margin-bottom: 0.5em;
  border-radius: 5px;
  box-shadow: 5px 5px 5rem black;
  padding: 0.5em 0.5em 0.1em 0.5em;
}

.tracks-container {
  margin: 0em 15em;
}

@media (max-width: 1000px) {
  .tracks-container {
    margin-left: 10em;
  }
}

@media (max-width: 900px) {
  .tracks {
    border-radius: 0px;
    margin-bottom: 0em;
  }

  .tracks-container {
    margin-left: 0em;
    width: 100%;
  }
}

.tracks-delete {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  padding: 0em 0.5em;
}

.credit {
  display: flex;
}

.credit i {
  margin-top: 0.1rem;
  margin-left: 0.5rem;
  background-color: transparent;
}

.delete {
  background-color: red;
  color: white;
  font-family: "Vina Sans", "sans-serif";
  font-size: 1.3rem;
  height: 2em;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  border: none;
  border-radius: 5px;
}

.delete:hover {
  cursor: pointer;
}

.bi-explicit {
  margin-top: 1.1rem;
  margin-left: 0.5rem;
}

.bi-pause,
.bi-play-fill {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: -0.2em;
}

.bi-spotify {
  color: #1ed760;
  font-size: 2rem;
}

.bi-pause:hover,
.spotify-link .bi-spotify:hover,
.bi-play-fill:hover {
  cursor: pointer;
}

.album-img {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
}

.singers {
  margin: 0;
  margin-left: 0.5em;
  color: red;
}

.track-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.title-track {
  display: flex;
  flex-direction: column;
}

.title-track div:first-child {
  display: flex;
}

.name-duration {
  display: flex;
}

.title-track p {
  font-size: 1.3rem;
  height: 1em;
  margin: 0;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}

.title-track h2 {
  margin: 0;
  margin-left: 0.5rem;
  margin-top: 0.5em;
}

.spotify-link {
  margin-right: 2rem;
  margin-top: 0.5rem;
}

.spotify-link h2 {
  margin-right: 0.5rem;
}

.spotify-link i {
  margin-top: 0.9rem;
}

#no-album-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 15rem;
}

#no-album-box h1 {
  color: red;
  font-size: 5rem;
}

#no-album-box button {
  border: none;
  border-radius: 5px;
  box-shadow: -5px -5px 0rem red;
  height: 3rem;
  font-family: "Vina Sans", "sans-serif";
  font-size: 1.5rem;
  background-color: rgb(247, 250, 245);
  transition: 1s;
}

#no-album-box button:hover {
  cursor: pointer;
  background-color: rgb(243, 225, 225);
  transition: 1s;
}
