.tracks {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 90%;
  width: 55rem;
  height: fit-content;
  margin-left: 15rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5rem black;
  padding-top: 0.5rem;
}

.bi-explicit {
  margin-top: 1.6rem;
  margin-left: 0.5rem;
}

.bi-pause,
.bi-play-fill {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.bi-pause:hover,
.bi-play-fill:hover {
  cursor: pointer;
}

.album-img {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
}

.singers {
  color: red;
  margin-top: -1.5rem;
  margin-left: 6rem;
}

.title-track {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.title-track p {
  font-size: 1.3rem;
  margin-top: 1.4rem;
  margin-left: 0.5rem;
}

.title-track h2 {
  margin-left: 0.5rem;
}

#no-album-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 15rem;
}

#no-album-box h1 {
  color: red;
  font-size: 5rem;
}

#no-album-box button {
  border: none;
  border-radius: 5px;
  box-shadow: -5px -5px 0rem red;
  height: 3rem;
  font-family: "Vina Sans", "sans-serif";
  font-size: 1.5rem;
  background-color: rgb(247, 250, 245);
  transition: 1s;
}

#no-album-box button:hover {
  cursor: pointer;
  background-color: rgb(243, 225, 225);
  transition: 1s;
}
